@media only screen and (min-width: 1100px) {
    .container{
        height: 100vh;
        max-width: 992px;
        margin: 0 auto;
        padding: 2.5rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .container section{
            flex: 1;
            padding-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6.25rem;
            align-content: center;
    }

    .container section div{
        margin-bottom:0.5rem;
      }
}

@media only screen and (max-width: 1100px) {


    .container {
        width: 100%;
        padding: 2rem 0.25rem;
    }

    .container > section{
        padding-top: 3rem;
        justify-content: center;
        width: 100%;
        padding: 2rem;
      }
      .container section div{
        margin-bottom:0.5rem;
        height: auto;
      }
  }